body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 0;
}

.navbar {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 15px;
    color: white;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 4em 0em;
}


.hero {
    background-color: #1f2937;
    padding: 2em 2em;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.text-container {
    flex: 1;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    width: auto;
    height: auto;
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}


.cta-btn.hero-button {
    background-color: #3882f6; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 1em 2em; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline for links */
    display: inline-block; /* Display the button as an inline block */
    font-size: 16px; /* Set the font size */
    margin: 1em 0px; /* Add some margin */
    cursor: pointer; /* Add a cursor pointer */
    border-radius: 25px; /* Round the corners */
    transition: background-color 0.3s; /* Add a transition effect for the background color */
  }

/* Change the background color on hover */
.cta-btn.hero-button:hover {
    background-color: #2d69c9;
  }

.info-text {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0;
}

.info-wrapper {
    margin: 5em;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.info-img-container {
    height: auto;
    width: auto;
}

.info-img {
    width: 100%;
    height: 100%;
}

.quote {
    background-color: #E5E7EB;
    padding: 3em;
}

    .quote-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2em;
        padding: 2em;
    }
        .quote-text {
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            line-height: 1.25em;
            color: #1f2937;
            font-style: italic;
            font-weight: 300;
        }

        .author {
            font-size: 24px;
            font-weight: bold;
            align-self: flex-end;
            margin: 2em 0;
        }

.footer {
    padding: 4em;
}

    .footer-container {
        background-color: #4C6D96;
        padding: 4em;
        border-radius: 10px;
        display: flex; 
        justify-content: space-around;
    }

    .cta-text {
        font-weight: bold;
        color: white;
        margin: 0.5em 0;
    }

    .cta-subtext {
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 300;
    }

    .cta-btn.second {
        background-color: transparent;
        border-color: #ffffff; 
        border-style: solid;
        color: white; /* White text */
        padding: 1em 2em; /* Add some padding */
        text-align: center; /* Center the text */
        text-decoration: none; /* Remove underline for links */
        display: inline-block; /* Display the button as an inline block */
        font-size: 16px; /* Set the font size */
        cursor: pointer; /* Add a cursor pointer */
        border-radius: 25px; /* Round the corners */
        transition: background-color 0.3s; 
        
    }

    .cta-btn.second:hover {
        background-color: white;
        color: #4C6D96;
    }
    

    






    


    